@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background: black; color: white">
    @*<div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>*@

    <div class="content px-2" style="padding-left: .5rem !important; padding-right: .5rem  !important">
        @Body
    </div>
</div>
