@inherits SalatCardBase

<link href="css/Cards.css" rel="stylesheet" />

@if (Content != null)
{
    <div class="text-sm-center txtValue"
         style="background-color: @BackgroundColor; color: @TextColor; font-size:@(TitleValueSize)vw">
            @Content
    </div>
}
else
{
    <div class="text-sm-center"
         style="background-color: @BackgroundColor">
        <div class="txtTitle" style="color: @TextColor; font-size:@(TitleFontSize)vw">
            @Title
        </div>
    </div>
    <div class="text-sm-center"
         style="background-color: @BackgroundColor">
        <div class="txtValue" style="color: @TextColor; font-size:@(TitleValueSize)vw">
            @Value
        </div>
    </div>
}
